.navbar{
    align-content: flex-start;
    font-family: "Fira Code", Helvetica, sans-serif;
    font-size: 30px;
    list-style-type: none;
    padding: 0;
}

.navItem {
    float: left;
    width: 20rem;
    text-decoration: none;
    color: #000;
    text-align: left;
}

.navItem:hover {
    color: #ff0000;
}

.navItem:active {
    color: #ff0000;
}

.navItem:focus {
    color: #ff0000;
}

.navButton {
    border-radius: 1rem;
    width: 10rem;
    height: 2rem;
    background-color: #fff;
    border: none;
    cursor: pointer;

    font-size: small;
    text-align: left;
}