.navbar{
    font-family: "Fira Code", Helvetica, sans-serif;
    font-size: 30px;
    list-style-type: none;
}

.navItem {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-decoration: none;
    color: #000;
}

.navItem:hover {
    color: #ff0000;
}

.navItem:active {
    color: #ff0000;
}

.navItem:focus {
    color: #ff0000;
}

.navButton {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 20%;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border: none;
    cursor: pointer;
}