.header {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: center;
    background-color: #5879da;
    width: 100%;
    height: 3rem;
    padding: 1rem;
}

.headerButton {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 20%;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.headerButton:hover {
    background-color: #e6e6e6;
}

.headerButton:active {
    background-color: #cccccc;
}